<div class="modal in" ng-controller="submitVersionController as submitVersion" ng-init="submitVersion.init()">
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button ng-click="submitVersion.cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">添加电影</h4>
            </div>
            <form name="submitVersionForm" ng-submit="submitVersionForm.$valid && submitVersion.add()">
                <div class="modal-body">
                    
                        
                    <div class="form-group">
                        上传电影
                        <input type="file" file-model="myFileMovie" data-e="none" required>
                        <hr class="break-space">
                    </div>
                    <hr>
                    <div class="form-group">
                        上传字幕
                        <input type="file" file-model="myFileSubtitle" data-e="none">
                        <hr class="break-space">
                    </div>
                    <hr>
                    
                </div>
                <div class="modal-footer">
                    <a ng-click="submitVersion.cancel()" class="btn">取消</a>
                    <button class="btn btn-primary" type="submit">添加</button>
                </div>
            </form>  
        </div>
    </div>
</div>